body{
    background-color:rgb(51, 45, 45) !important;
}

.main-container{
    width:75%;
    margin:0 auto;
    border:1px solid red;
    text-align:center;
}
.main-header{
    color:rgb(197, 189, 189);
}
.main-description{
    color:rgb(197, 189, 189);
}